/* Lernseite.css */

.container {
    max-width: 90vw;
    margin: auto;
    padding-top: 20vh;
}

.card {
    min-height: 70vh;
    border-radius: 16px;
    background-color: #E3F2FD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardContent {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chipContainer {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 8px;
}

.chip {
    width: 100%;
}

.chipSelected {
    background-color: lightblue;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

.cardClickable {
    cursor: pointer;
}